a {
    color: #cecece;
    transition: 0.2s;
}

a:hover {
    color: #fff;
}

@media (min-width: 992px) {
    .logo.dark {
        display: none !important;
    }

    .navigation.navbar-sticky {
        background-color: #fff;
        top: 0;
    }

    .navigation.navbar-sticky .logo.dark {
        display: block !important;
    }

    .navigation.navbar-sticky .logo.light {
        display: none !important;
    }
}

@media (max-width: 992px) {
    .logo.idark {
        display: none !important;
    }

    .navigation.navbar-sticky .logo.idark {
        display: block !important;
    }

    .navigation.navbar-sticky .logo.ilight {
        display: none !important;
    }
}

.navigation.navbar-sticky .nav-item .nav-link {
    color: #1b3535;
}

.navigation.navbar-sticky .nav-item.active .nav-link, .navigation.navbar-sticky .nav-item:hover .nav-link {
    color: #cecece;
}

.header.hd-1, .header.hd-4 {
    background-image: url(../img/background/bg-1.jpg);
    background-repeat: repeat-x;
}

.follow-us a {
    padding: 10px;
}

.follow-us > div {
    padding: 5px 0;
}

.available-on a {
    margin: 3px;
    color: #1b3535;
}

.available-on a i{
    font-size: 17px;
}

.available-on a:hover {
    color: #BFBFBF;
}